# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List of popular languages for Data Science
- List of commonly used libraries used by Data Scientists
- Data Science of tools
- Simple arithmetic expression
- convert 200 minutes to hours by diving by 60
- Author details

**Some of the popular languages that Data Scientists use are:**
1. Python 
2. R
3. SQL
4. Java

***Some of the commonly used libraries used by Data Scientists include:***
1. Numpy
2. Pandas
3. Skicit Learn
4. Matplotlib
5. Seaborn


| Data Science Tools |
|:------------------:|
|     Jupyter        |
|     R Studio       |
|   Apache spark     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
hours = 200 //60
print(hours)

3

## Author
Ha Van Loi